.gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.file::file-selector-button {
  background-color: #f9bc60;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #001e1d;
}
.file::file-selector-button:hover {
  cursor: pointer;
}

.blogImage {
  margin-top: 20px !important;
  margin: 0 20px;
}
.mb {
  margin-bottom: 10px;
}
.mt {
  margin-top: 5px;
}

.btn {
  background-color: #f9bc60;
  color: #001e1d;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.disable {
  background-color: #f9bc6067;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  color: #001e1d;
}
