.mb {
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #f9bc60;
  color: #001e1d;
  float: right;
}

.btn:hover {
  cursor: pointer;
}

.disable {
  float: right;
  background-color: #f9bc6067;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  color: #001e1d;
}
